<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="utf-8" />
	<title>Monsterr shop</title>
	<meta name="description" content="Website Cung Cấp ACC Game , Mua Bán Nick Game - ShopAcc.Com.Vn">
	<meta name="keywords" content="Website Cung Cấp ACC Game , Mua Bán Nick Game - ShopAcc.Com.Vn">
	<link rel="shortcut icon" href="/upload-usr/images/OCqpVhiCtR_1583726935.jpeg" type="image/x-icon">
	<link rel="canonical" href="http://shop.monsterrr.net">
	<meta content="" name="author" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://shop.monsterrr.net" />
	<meta property="og:title" content="Website Cung Cấp ACC Game , Mua Bán Nick Game - ShopAcc.Com.Vn" />
	<meta property="og:description" content="Website Cung Cấp ACC Game , Mua Bán Nick Game - ShopAcc.Com.Vn" />

	<meta property="og:image" content="https://shopacc.com.vnassets/frontend/images/image-share.jpg" />



	<script type="application/ld+json">
    {
          "@graph":
      [
          {
              "@context": "http://schema.org/",
              

                "@type":"Store",
                "image": "upload-usr/images/Z3kYSnhsTX_1556955284.png",
                "name":"Nick.vn",
                "address":{
                    "@type":"PostalAddress",
                    "streetAddress":"120 Thái Hà",
                    "addressLocality":"Q. Đống Đa",
                    "addressRegion":"Hà Nội",
                    "postalCode":"100000",
                    "addressCountry":"VN"
                 },
              "priceRange": "$$",
              "geo":{
                "@type":"GeoCoordinates",
                "latitude":21.011915,
                "longitude":105.821283
              },
              "telephone":"08.6969.3000"
            
            },
            {
              "@context": "http://schema.org",
              "@type": "WebSite",
              "name": "Nick.vn",
              "url": "https://nick.vn"
          }
      ]
    }
    </script>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link
		href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all'
		rel='stylesheet' type='text/css'>
	<link href="assets/frontend/theme/assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet"
		type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
		type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
		type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
		type="text/css" />
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN: BASE PLUGINS  -->
	<link href="assets/frontend/theme/assets/global/plugins/magnific/magnific.css" rel="stylesheet" type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet"
		type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/owl-carousel/assets/owl.carousel.css" rel="stylesheet"
		type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	<!-- END: BASE PLUGINS -->
	<!-- BEGIN: PAGE STYLES -->
	<link href="assets/frontend/theme/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
		rel="stylesheet" type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
		rel="stylesheet" type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
		rel="stylesheet" type="text/css" />
	<link href="assets/frontend/theme/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
		rel="stylesheet" type="text/css" />
	<!-- END: PAGE STYLES -->
	<!-- BEGIN THEME STYLES -->
	<link href="assets/frontend/theme/assets/demos/default/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="assets/frontend/theme/assets/demos/default/css/components.css" id="style_components" rel="stylesheet"
		type="text/css" />
	<link href="assets/frontend/theme/assets/demos/default/css/themes/default.css" rel="stylesheet" id="style_theme"
		type="text/css" />
	<link href="assets/frontend/theme/assets/demos/default/css/custom.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="assets/frontend/plugins/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/frontend/plugins/owl-carousel/owl.theme.css">
	<link rel="stylesheet" href="assets/frontend/plugins/owl-carousel/owl.transitions.css">
	<script src="assets/frontend/plugins/jquery/jquery-2.1.0.min.js"></script>
	<script src="assets/frontend/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/frontend/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="assets/frontend/plugins/owl-carousel/slider.js"></script>

	<script src="assets/frontend/plugins/jquery-cookie/jquery.cookie.js"></script>
	<link href="assets/frontend/css/style.css?v=160067124059578" rel="stylesheet" type="text/css" />
	<!-- END THEME STYLES -->
	<style>
		.ui-autocomplete {
			max-height: 500px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.input-group-addon {
			background-color: #FAFAFA;
		}

		.input-group .input-group-btn>.btn,
		.input-group .input-group-addon {
			background-color: #FAFAFA;
		}

		.modal {
			text-align: center;
		}

		@media screen and (min-width: 768px) {
			.modal:before {
				display: inline-block;
				vertical-align: middle;
				content: " ";
				height: 100%;
			}
		}

		@media (min-width: 992px) and (max-width: 1200px) {
			.c-layout-header-fixed.c-layout-header-topbar .c-layout-page {
				margin-top: 100px;
			}
		}

		@media screen and (max-width: 767px) {
			.modal-dialog:before {
				margin-top: 75px;
				display: inline-block;
				vertical-align: middle;
				content: " ";
				height: 100%;
			}

			.modal-dialog {
				width: 100%;

			}

			.modal-content {
				margin-right: 20px;
			}
		}

		.modal-dialog {
			display: inline-block;
			text-align: left;


		}

		.mfp-wrap {
			z-index: 20000 !important;
		}

		.c-content-overlay .c-overlay-wrapper {
			z-index: 6;
		}

		.z7 {
			z-index: 7 !important;
		}
	</style>

	<link href="assets/frontend/theme/assets/global/plugins/magnific/magnific.css" rel="stylesheet" type="text/css" />
	<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>-->
</head>

<body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-topbar c-layout-header-topbar-collapse">
	<!-- Load Facebook SDK for JavaScript -->
	<!-- <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 -->
	<!-- Your customer chat code -->
	<!-- <div class="fb-customerchat"
  attribution=setup_tool
  page_id="829427927229329"
  logged_in_greeting="Chào Mừng Bạn Đến Với Shopacc.com.vn .Chúng   tôi có thể hỗ trợ gì cho bạn ?"
  logged_out_greeting="Chào Mừng Bạn Đến Với Shopacc.com.vn .Chúng   tôi có thể hỗ trợ gì cho bạn ?">
</div> -->
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
	<!-- BEGIN: HEADER -->
	<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">

		<div class="c-navbar">
			<div class="container">
				<!-- BEGIN: BRAND -->
				<div class="c-navbar-wrapper clearfix">
					<div class="c-brand c-pull-left">
						<h1 style="margin: 0px;display: inline-block">
							<a href="/" class="c-logo"
								alt="Shop bán nick game, acc game online avatar, đột kích – CF, liên minh huyền thoại lol , ngọc rồng, khí phách anh hùng - kpah giá rẻ, uy tín...">
								<img height="35px" src="upload-usr/images/Z3kYSnhsTX_1556955284.png" alt=""
									class="c-desktop-logo">
								<img height="29px" src="upload-usr/images/Z3kYSnhsTX_1556955284.png" alt=""
									class="c-desktop-logo-inverse">
								<img height="35px" src="upload-usr/images/Z3kYSnhsTX_1556955284.png" alt=""
									class="c-mobile-logo"> </a>
						</h1>
						<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
							<span class="c-line"></span>
							<span class="c-line"></span>
							<span class="c-line"></span>
						</button>
						<button class="c-topbar-toggler" type="button">
							<i class="fa fa-ellipsis-v"></i>
						</button>
						<button class="c-search-toggler" type="button">
							<i class="fa fa-search"></i>
						</button>
						<!--    <button class="c-cart-toggler" type="button">
							<i class="icon-handbag"></i>
							<span class="c-cart-number c-theme-bg">2</span>
						</button>-->
					</div>
					<!-- END: BRAND -->
					<!-- BEGIN: QUICK SEARCH -->
					<form class="c-quick-search" action="#">
						<input type="text" name="query" placeholder="Tìm kiếm..." value="" class="form-control"
							autocomplete="off">
						<span class="c-theme-link">&times;</span>
					</form>
					<!-- END: QUICK SEARCH -->
					<!-- BEGIN: HOR NAV -->
					<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
					<!-- BEGIN: MEGA MENU -->
					<!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
					<style>
						.c-menu-type-mega:hover {
							transition-delay: 1s;
						}

						.c-layout-header.c-layout-header-4 .c-navbar .c-mega-menu>.nav.navbar-nav>li:focus>a:not(.btn),
						.c-layout-header.c-layout-header-4 .c-navbar .c-mega-menu>.nav.navbar-nav>li:active>a:not(.btn),
						.c-layout-header.c-layout-header-4 .c-navbar .c-mega-menu>.nav.navbar-nav>li:hover>a:not(.btn) {
							color: #3a3f45;
							background: #f0f8ff;
						}
					</style>
					<nav
						class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold d-none hidden-xs hidden-sm">

						<ul class="nav navbar-nav c-theme-nav">



							<li class="c-menu-type-classic"><a rel="" href="/" class="c-link dropdown-toggle ">TRANG
									CHỦ</a></li>
							<li class="c-menu-type-classic"><a rel="" href="/nap-the"
									class="c-link dropdown-toggle ">NẠP THẺ</a></li>
							<!-- <li class="c-menu-type-classic"><a  rel="/atm"  href="/atm" class="c-link dropdown-toggle load-modal">Nạp ATM - V&iacute;</a></li>
<li class="c-menu-type-classic"><a  rel=""  href="/#" class="c-link dropdown-toggle ">Xem th&ecirc;m<span class="c-arrow c-toggler"></span></a> -->



							<ul id="children-of-921" class="dropdown-menu c-menu-type-classic c-pull-left ">
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/uy-tin-shopacccomvn" class="">Uy t&iacute;n của
										ShopAcc.Com.Vn</a></li>
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/huong-dan-mua-tai-khoan-tai-shopacccomvn"
										class="">Hướng dẫn mua t&agrave;i khoản</a></li>
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/huong-dan-bao-mat-tai-khoan-tai-shopacccomvn"
										class="">Hướng dẫn bảo mật t&agrave;i khoản</a></li>
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/huong-dan-lam-ctv-tai-shopacccomvn" class="">THAM
										GIA MUA B&Aacute;N T&Agrave;I KHOẢN</a></li>
								<li class="c-menu-type-classic"><a rel="" href="/thanh-toan-dat-coc" class="">Thanh
										To&aacute;n Đặt Cọc</a></li>
							</ul>
							</li>
							<li>
								<% if (login == false) { %>
								<a href="/login"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
									<i class="icon-user"></i> Đăng nhập</a></li>
							<li>
								<a href="/register"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
									<i class="icon-key icons"></i> Đăng ký
								</a>
								<% } else { %>
								<a href="/user/profile" title="<%= userdata %>"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
									<i class="icon-user"></i> <%= userdata %> - $ <%= rmoney%></a> </li>
							<li>
								<a href="/logout"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
									Đăng xuất
								</a>
								<% } %>
							</li>
						</ul>


					</nav>



					<nav
						class="menu-main-mobile c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold hidden-md hidden-lg">

						<ul class="nav navbar-nav c-theme-nav">



							<li class="c-menu-type-classic"><a rel="" href="/" class="c-link dropdown-toggle ">TRANG
									CHỦ</a></li>
							<li class="c-menu-type-classic"><a rel="" href="/nap-the"
									class="c-link dropdown-toggle ">NẠP THẺ</a></li>
							<!-- <li class="c-menu-type-classic"><a  rel="/atm"  href="/atm" class="c-link dropdown-toggle load-modal">Nạp ATM - V&iacute;</a></li>
<li class="c-menu-type-classic"><a  rel=""  href="/#" class="c-link dropdown-toggle ">Xem th&ecirc;m<span class="c-arrow c-toggler"></span></a> -->



							<ul id="children-of-921" class="dropdown-menu c-menu-type-classic c-pull-left ">
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/uy-tin-shopacccomvn" class="">Uy t&iacute;n của
										ShopAcc.Com.Vn</a></li>
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/huong-dan-mua-tai-khoan-tai-shopacccomvn"
										class="">Hướng dẫn mua t&agrave;i khoản</a></li>
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/huong-dan-bao-mat-tai-khoan-tai-shopacccomvn"
										class="">Hướng dẫn bảo mật t&agrave;i khoản</a></li>
								<li class="c-menu-type-classic"><a rel=""
										href="http://shopacc.com.vn/huong-dan-lam-ctv-tai-shopacccomvn" class="">THAM
										GIA MUA B&Aacute;N T&Agrave;I KHOẢN</a></li>
								<li class="c-menu-type-classic"><a rel="" href="/thanh-toan-dat-coc" class="">Thanh
										To&aacute;n Đặt Cọc</a></li>
							</ul>
							</li>
							<li>
								<!-- <a href="/login" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
						<i class="icon-user"></i> Đăng nhập</a></li><li>
						<a href="/register" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-key icons"></i>
							Đăng ký
						</a> -->

								<% if (login == false) { %>
								<a href="/login"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
									<i class="icon-user"></i> Đăng nhập</a></li>
							<li>
								<a href="/register"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold"><i
										class="icon-key icons"></i>
									Đăng ký
								</a>
								<% } else { %>
								<a href="/user/profile" title="<%= userdata %>"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
									<i class="icon-user"></i> <%= userdata %> - $ <%= rmoney%></a> </li>
							<li>
								<a href="/logout"
									class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
									Đăng xuất
								</a>
								<% } %>
							</li>
						</ul>

					</nav>

					<!-- END: MEGA MENU -->
					<!-- END: LAYOUT/HEADERS/MEGA-MENU -->
					<!-- END: HOR NAV -->
				</div>
				<!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
				<!-- BEGIN: CART MENU -->
				<!-- END: CART MENU -->
				<!-- END: LAYOUT/HEADERS/QUICK-CART -->
			</div>
		</div>
	</header>
	<!-- END: HEADER -->
	<!-- END: LAYOUT/HEADERS/HEADER-1 -->
	<!-- BEGIN: PAGE CONTAINER -->
	<div class="c-layout-page">
		<!-- BEGIN: PAGE CONTENT -->
		<div class="c-content-box">
			<div id="slider" class="owl-theme section section-cate slideshow_full_width ">
				<div id="slide_banner" class="owl-carousel">
					<div class="item">
						<a href="https://1999s.vn/" alt="BÁN ÁO">
							<img src="upload-usr/images/2yM96B5APu_1587708785.png" alt="BÁN ÁO">
						</a>
					</div>

					<div class="item">
						<a href="" alt="Mua bán xu">
							<img src="upload-usr/images/V9tQ1xuasQ_1555705806.jpg" alt="Mua bán xu">
						</a>
					</div>

				</div>
			</div>
		</div>


		<div class="c-content-box c-size-md c-bg-white">
			<div class="container">
				<!-- Begin: Testimonals 1 component -->
				<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
					<!-- Begin: Title 1 component -->
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">Danh mục vòng quay</h3>
						<div class="c-line-center c-theme-bg"></div>
					</div>
					<div class="row row-flex-safari game-list">
						<div class="col-sm-3 col-xs-6 p-5">
							<div class="classWithPad">
								<div class="news_image">
									<a href="/user/latthe" class=""><img
											src="upload-usr/images/image-058d64d2-0333-4c9a-bace-4ad6789e3133.gif"></a>
								</div>
								<div class="news_title"><a href="/user/latthe">Vòng Quay
										Liên Quân</a></div>
								<div class="news_description">
									<p>
										Nick đã trúng: 191
									</p>
									<p>
										Người quay: 180
									</p>
								</div>
								<div class="a-more">
									<div class="row">

										<div class="col-xs-12">
											<div class="view">
												<a href="/user/latthe">Xem tất cả</a>
											</div>
										</div>

									</div>
								</div>


							</div>
						</div>
						<div class="col-sm-3 col-xs-6 p-5">
							<div class="classWithPad">
								<div class="news_image">
									<a href="/user/vongquay" class=""><img
											src="upload-usr/images/image-4382a768-2702-43f3-a448-6bea53618676.gif"></a>
								</div>
								<div class="news_title"><a href="/user/vongquay">Vòng Quay
										FreeFire</a></div>
								<div class="news_description">
									<p>
										Nick đã trúng: 191
									</p>
									<p>
										Người quay: 88
									</p>
								</div>
								<div class="a-more">
									<div class="row">

										<div class="col-xs-12">
											<div class="view">
												<a href="/user/vongquay">Xem tất cả</a>
											</div>
										</div>

									</div>
								</div>


							</div>
						</div>
						<div class="col-sm-3 col-xs-6 p-5">
							<div class="classWithPad">
								<div class="news_image">
									<a href="/user/vongquay2" class=""><img
											src="upload-usr/images/image-f34fd072-50e4-4639-8e2c-2cded995cca4.gif"></a>
								</div>
								<div class="news_title"><a href="/user/vongquay2">VÒNG QUAY SÒ
										LIÊN MINH</a></div>
								<div class="news_description">
									<p>
										Nick đã trúng: 0
									</p>
									<p>
										Người quay: 0
									</p>
								</div>
								<div class="a-more">
									<div class="row">

										<div class="col-xs-12">
											<div class="view">
												<a href="/user/vongquay2">Xem tất cả</a>
											</div>
										</div>

									</div>
								</div>


							</div>
						</div>


					</div>
					<!-- End-->
				</div>
				<!-- End-->
			</div>
		</div>

	</div>
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Danh mục game</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="row row-flex-safari game-list">


					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/garena/lien-minh" title="Liên Minh" class=""><img
										src="upload-usr/images/YyjvpbqNIK_1583725269.gif" alt="Liên Minh"></a>


							</div>
							<div class="news_title">
								<h2>
									<a href="/garena/lien-minh" title="Liên Minh">Liên Minh</a>
								</h2>


							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 1,102
								</p>
								<p>
									Đã bán: 418
								</p>

							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/garena/lien-minh" title="Liên Minh">Xem tất cả</a>


										</div>
									</div>

								</div>
							</div>


						</div>
					</div>

					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/vinagame/pubg-mobile" title="Pubg Mobile" class=""><img
										src="upload-usr/images/xwq4D8E81a_1583725294.gif" alt="Pubg Mobile"></a>


							</div>
							<div class="news_title">
								<h2>
									<a href="/vinagame/pubg-mobile" title="Pubg Mobile">Pubg Mobile</a>
								</h2>


							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 903
								</p>
								<p>
									Đã bán: 726
								</p>

							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/vinagame/pubg-mobile" title="Pubg Mobile">Xem tất cả</a>


										</div>
									</div>

								</div>
							</div>


						</div>
					</div>

					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/garena/lien-quan-mobile" title="Liên Quân Mobile" class=""><img
										src="upload-usr/images/2xqvrVlAqQ_1583725319.gif" alt="Liên Quân Mobile"></a>


							</div>
							<div class="news_title">
								<h2>
									<a href="/garena/lien-quan-mobile" title="Liên Quân Mobile">Liên Quân Mobile</a>
								</h2>


							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 2,035
								</p>
								<p>
									Đã bán: 1,707
								</p>

							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/garena/lien-quan-mobile" title="Liên Quân Mobile">Xem tất
												cả</a>


										</div>
									</div>

								</div>
							</div>


						</div>
					</div>

					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/garena/free-fire" title="Free Fire" class=""><img
										src="upload-usr/images/m99xz221lQ_1583725339.gif" alt="Free Fire"></a>


							</div>
							<div class="news_title">
								<h2>
									<a href="/garena/free-fire" title="Free Fire">Free Fire</a>
								</h2>


							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 653
								</p>
								<p>
									Đã bán: 478
								</p>

							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/garena/free-fire" title="Free Fire">Xem tất cả</a>


										</div>
									</div>

								</div>
							</div>


						</div>
					</div>




					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/dich-vu/nap-tien-tu-dong" class=""><img
										src="upload-usr/images/oNeDePYC2K_1564629210.png"></a>
							</div>
							<div class="news_title"><a href="/dich-vu/nap-tien-tu-dong">Nạp tiền tự động</a></div>
							<div class="news_description">
								<p>
									Dịch vụ hỗ trợ: 8
								</p>
								<p>
									Giao dịch: 4,075
								</p>

							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/dich-vu/nap-tien-tu-dong">Xem tất cả</a>
										</div>
									</div>

								</div>
							</div>


						</div>
					</div>


				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>






	<!-- <div class="modal fade" id="noticeModal" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title"
						style="font-weight: bold;text-transform: uppercase;color: #FF0000;text-align: center">Thông
						báo</h4>
				</div>

				<div class="modal-body" style="font-family: helvetica, arial, sans-serif;">
					<p><strong><span style="color:#1abc9c">Ch&agrave;o mừng c&aacute;c bạn đến với </span><a
								href="/"><span style="color:#1abc9c">SHOPACC.COM.VN</span></a><span
								style="color:#1abc9c"> . </span><span style="color:#000000">L&agrave; một hệ thống
								mới của c&aacute;c shop lớn được c&aacute;c Youtuber như&nbsp; ĐỘ MIXIGAMING ,
								NH&Acirc;N PHƯƠNG VLOGS ,...&nbsp;&nbsp;giới thiệu l&agrave; : </span><a href="/"><span
									style="color:#000000">SHOPACCRE24H.COM</span></a><span style="color:#000000">
								V&Agrave;&nbsp;</span><a href="/" rel="noopener nofollow" target="_blank"><span
									style="color:#000000">KHOACCRE24H.COM</span></a></strong></p>

					<p><span style="color:#000000"><strong>C&Aacute;C BẠN CHỈ CẦN L&Ecirc;N YOUTUBE TRA T&Ecirc;N
								SHOP L&Agrave; BIẾT ĐỘ UY T&Iacute;N NHƯ THẾ N&Agrave;O Ạ . N&ecirc;n mọi người
								y&ecirc;n t&acirc;m m&agrave; giao dịch với Shop nh&eacute; .&nbsp;</strong></span>
					</p>

					<p><span style="font-size:16px"><span style="color:#c0392b"><strong>SHOP ĐANG C&Oacute; CHƯƠNG
									TR&Igrave;NH GIẢM GI&Aacute; 20% ĐẾN HẾT NG&Agrave;Y 30/8</strong></span><br />
							<span style="color:#c0392b"><strong>NẠP 100K ĐƯỢC 100K NH&Aacute; AE TỈ LỆ 1:1<br />
									ƯU TI&Ecirc;N THẺ VIETTEL ĐỂ XỬ L&Yacute; TRONG 5S&nbsp;<br />
									MỌI THẮC MẮC AE LI&Ecirc;N HỆ FANPAGE NH&Aacute;</strong></span></span></p>

					<p><strong><span style="color:#2ecc71">CẢNH B&Aacute;O MẠO DANH SHOP ĐI LỪA ĐẢO VUI L&Ograve;NG
								V&Agrave;O ĐỌC B&Agrave;I VIẾT : </span><span style="color:#2ecc71"><a
									href="https://www.facebook.com/adminshopaccre24hh/photos/a.893916140780507/1093294957509290">TẠI
									Đ&Acirc;Y</a></span></strong></p>

					<p><span style="color:#1abc9c"><strong>Uy t&iacute;n của shop xem <a href="/uy-tin-shopacccomvn">TẠI
									Đ&Acirc;Y</a>&nbsp;</strong></span></p>

					<p><span style="color:#e74c3c"><strong>HỆ THỐNG C&Oacute; CHỨC NĂNG CHECK ACC TRƯỚC KHI GỬI
								KH&Aacute;CH CỰC K&Igrave; AN TO&Agrave;N CHO ANH EM NHA</strong></span></p>

					<p>&nbsp;</p>
				</div>
				<div class="modal-footer">
					<button type="button"
						class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase"
						data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div> -->

	<script>

		$(document).ready(function () {
			if ($.cookie('noticeModal') != '1') {

				$('#noticeModal').modal('show')
				//show popup here

				var date = new Date();
				var minutes = 60 * 12;
				date.setTime(date.getTime() + (minutes * 60 * 1000));
				$.cookie('noticeModal', '1', { expires: date });
			}
		});
	</script>





	<!-- END: PAGE CONTENT -->
	<!-- </div>

	<div class="modal fade" id="noticeModal" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="loader" style="text-align: center"><img src="assets/frontend/images/loader.gif"
					style="width: 50px;height: 50px;display: none"></div>
			<div class="modal-content">
				&lt;p&gt;&lt;strong&gt;&lt;span style=&quot;color:#1abc9c&quot;&gt;Ch&amp;agrave;o mừng c&amp;aacute;c
				bạn đến với &lt;/span&gt;&lt;a href=&quot;/&quot;&gt;&lt;span
				style=&quot;color:#1abc9c&quot;&gt;SHOPACC.COM.VN&lt;/span&gt;&lt;/a&gt;&lt;span
				style=&quot;color:#1abc9c&quot;&gt; . &lt;/span&gt;&lt;span
				style=&quot;color:#000000&quot;&gt;L&amp;agrave; một hệ thống mới của c&amp;aacute;c shop lớn được
				c&amp;aacute;c Youtuber như&amp;nbsp; ĐỘ MIXIGAMING , NH&amp;Acirc;N PHƯƠNG VLOGS
				,...&amp;nbsp;&amp;nbsp;giới thiệu l&amp;agrave; : &lt;/span&gt;&lt;a href=&quot;/&quot;&gt;&lt;span
				style=&quot;color:#000000&quot;&gt;SHOPACCRE24H.COM&lt;/span&gt;&lt;/a&gt;&lt;span
				style=&quot;color:#000000&quot;&gt; V&amp;Agrave;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;/&quot;
				rel=&quot;noopener nofollow&quot; target=&quot;_blank&quot;&gt;&lt;span
				style=&quot;color:#000000&quot;&gt;KHOACCRE24H.COM&lt;/span&gt;&lt;/a&gt;&lt;/strong&gt;&lt;/p&gt;

				&lt;p&gt;&lt;span style=&quot;color:#000000&quot;&gt;&lt;strong&gt;C&amp;Aacute;C BẠN CHỈ CẦN
				L&amp;Ecirc;N YOUTUBE TRA T&amp;Ecirc;N SHOP L&amp;Agrave; BIẾT ĐỘ UY T&amp;Iacute;N NHƯ THẾ
				N&amp;Agrave;O Ạ . N&amp;ecirc;n mọi người y&amp;ecirc;n t&amp;acirc;m m&amp;agrave; giao dịch với Shop
				nh&amp;eacute; .&amp;nbsp;&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;

				&lt;p&gt;&lt;span style=&quot;font-size:16px&quot;&gt;&lt;span
				style=&quot;color:#c0392b&quot;&gt;&lt;strong&gt;SHOP ĐANG C&amp;Oacute; CHƯƠNG TR&amp;Igrave;NH GIẢM
				GI&amp;Aacute; 20% ĐẾN HẾT NG&amp;Agrave;Y 30/8&lt;/strong&gt;&lt;/span&gt;&lt;br /&gt;
				&lt;span style=&quot;color:#c0392b&quot;&gt;&lt;strong&gt;NẠP 100K ĐƯỢC 100K NH&amp;Aacute; AE TỈ LỆ
				1:1&lt;br /&gt;
				ƯU TI&amp;Ecirc;N THẺ VIETTEL ĐỂ XỬ L&amp;Yacute; TRONG 5S&amp;nbsp;&lt;br /&gt;
				MỌI THẮC MẮC AE LI&amp;Ecirc;N HỆ FANPAGE
				NH&amp;Aacute;&lt;/strong&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;

				&lt;p&gt;&lt;strong&gt;&lt;span style=&quot;color:#2ecc71&quot;&gt;CẢNH B&amp;Aacute;O MẠO DANH SHOP ĐI
				LỪA ĐẢO VUI L&amp;Ograve;NG V&amp;Agrave;O ĐỌC B&amp;Agrave;I VIẾT : &lt;/span&gt;&lt;span
				style=&quot;color:#2ecc71&quot;&gt;&lt;a
				href=&quot;https://www.facebook.com/adminshopaccre24hh/photos/a.893916140780507/1093294957509290&quot;&gt;TẠI
				Đ&amp;Acirc;Y&lt;/a&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;

				&lt;p&gt;&lt;span style=&quot;color:#1abc9c&quot;&gt;&lt;strong&gt;Uy t&amp;iacute;n của shop xem &lt;a
				href=&quot;/uy-tin-shopacccomvn&quot;&gt;TẠI
				Đ&amp;Acirc;Y&lt;/a&gt;&amp;nbsp;&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;

				&lt;p&gt;&lt;span style=&quot;color:#e74c3c&quot;&gt;&lt;strong&gt;HỆ THỐNG C&amp;Oacute; CHỨC NĂNG
				CHECK ACC TRƯỚC KHI GỬI KH&amp;Aacute;CH CỰC K&amp;Igrave; AN TO&amp;Agrave;N CHO ANH EM
				NHA&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;

				&lt;p&gt;&amp;nbsp;&lt;/p&gt;
			</div>
		</div>
	</div>
	</div> -->

	<div class="modal fade" id="LoadModal" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="loader" style="text-align: center"><img src="assets/frontend/images/loader.gif"
					style="width: 50px;height: 50px;display: none"></div>
			<div class="modal-content">
			</div>
		</div>
	</div>


	<script>
		$(document).ready(function () {
			$('.load-modal').each(function (index, elem) {
				$(elem).unbind().click(function (e) {
					e.preventDefault();
					e.preventDefault();
					var curModal = $('#LoadModal');
					curModal.find('.modal-content').html("<div class=\"loader\" style=\"text-align: center\"><img src=\"assets/frontend/images/loader.gif\" style=\"width: 50px;height: 50px;\"></div>");
					curModal.modal('show').find('.modal-content').load($(elem).attr('rel'));
				});
			});
		});
	</script>



	<!-- END: PAGE CONTAINER -->
	<a name="footer"></a>
	<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
		<div class="c-prefooter">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="c-container c-first">
							<!-- <div class="c-content-title-1">
							<h3 class="c-font-uppercase c-font-bold c-font-white">Về <span class="c-theme-font">Nick.vn</span>

								<a target="_blank"  href="//www.dmca.com/Protection/Status.aspx?ID=6766daa6-8986-40c5-b282-a9c9e6a883de" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/_dmca_premi_badge_1.png?ID=6766daa6-8986-40c5-b282-a9c9e6a883de"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>

							</h3>
							<div class="c-line-left hide"></div>
							<p class="c-text">
								Chuyên mua bán nick các game... an toàn. Tin cậy nhanh chóng. Giao dịch tự động 24/24</p>
						</div>
						<ul class="c-links">
							<li><a href="/gioi-thieu">Giới thiệu</a></li>
							<li><a href="/huong-dan-mua-tai-khoan">Hướng Dẫn Mua Tài Khoản</a></li>
							<li><a href="/huong-dan-nick-mua-tra-gop">Hướng Dẫn Mua Nick Trả Góp</a></li>
							<li><a href="/tuyen-dai-ly-cung-cap-nick-tai-nickvn">Tuyển Đại Lý cung cấp nick tại Nick.vn</a></li>
							<li><a href="/lien-he-gop-y"> Liên hệ/góp ý</a></li>
						</ul> -->
							<p><strong>VỀ</strong>&nbsp;<strong><span
										style="color:#2ecc71">SHOPACC.COM.VN</span>&nbsp;</strong>&nbsp; &nbsp;<img
									src="upload/userfiles/images/image(1).png" style="height:103px; width:97px" /></p>

							<p><span style="color:#e74c3c">HỆ THỐNG B&Aacute;N ACC ALL GAME&nbsp;</span></p>

							<p><span style="color:#e74c3c">&nbsp; &nbsp; &nbsp; ĐẢM BẢO UY T&Iacute;N V&Agrave; CHẤT
									LƯỢNG.</span></p>

							<ul>
								<li><strong><a
											href="http://shopacc.com.vn/huong-dan-bao-mat-tai-khoan-tai-shopacccomvn"><span
												style="color:#e74c3c">Hướng Dẫn Bảo Mật T&agrave;i
												Khoản</span></a></strong></li>
								<li><strong><a
											href="http://shopacc.com.vn/huong-dan-mua-tai-khoan-tai-shopacccomvn"><span
												style="color:#e74c3c">Hướng Dẫn Mua T&agrave;i Khoản</span></a></strong>
								</li>
								<li><strong><a href="http://shopacc.com.vn/huong-dan-mua-nick-tra-gop"><span
												style="color:#e74c3c">Hướng Dẫn Mua Nick Trả
												G&oacute;p</span></a></strong></li>
								<li><strong><a href="http://shopacc.com.vn/tuyen-dai-ly-cung-cap-nick"><span
												style="color:#e74c3c">Tuyển Đại L&yacute; cung cấp nick
												tại&nbsp;ShopAcc.Com.Vn</span></a></strong></li>
								<li><strong><a href="http://shopacc.com.vn/lien-he-gop-y"><span
												style="color:#e74c3c">Li&ecirc;n hệ/g&oacute;p
												&yacute;</span></a></strong></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="c-container c-last">
							<!-- <div class="c-content-title-1">
							<h3 class="c-font-uppercase c-font-bold c-font-white">Chúng tôi ở đây</h3>
							<div class="c-line-left hide"></div>
							<p>Chúng tôi làm việc một cách chuyên nghiệp, uy tín, nhanh chóng và luôn đặt quyền lợi của bạn lên hàng đầu</p>
						</div>
						<ul class="c-socials">
							<li><a href="https://www.facebook.com/adminshopaccre24hh" target="_blank"><i class="icon-social-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UC3hynecnxER2-41AgpNZN4A" target="_blank"><i class="icon-social-youtube"></i></a></li>
						</ul>
						<ul class="c-address"> -->
							<!--<li><i class="icon-pointer c-theme-font"></i> One Boulevard, Beverly Hills</li>-->
							<!-- <li><i class="icon-call-end c-theme-font"></i> <a href="tel:0869693000" class="c-font-regular">08.6969.3000</a> (8h-22h)</li>
							<li><i class="icon-envelope c-theme-font"></i> <a href="mailto:cskhshopacc@gmail.com" class="c-font-regular">cskhshopacc@gmail.com</a></li>
							<li><i class="icon-clock c-theme-font"></i><span class="c-font-regular">8h-11h30 & 13h30-22h</span></li>
						</ul> -->
							<h2 style="text-align:center"><span style="color:#ffffff"><strong>CH&Uacute;NG T&Ocirc;I Ở
										Đ&Acirc;Y</strong></span></h2>

							<h2 style="text-align:center"><span style="color:#ffffff"><strong>Ch&uacute;ng t&ocirc;i
										l&agrave;m việc một c&aacute;ch chuy&ecirc;n nghiệp, uy t&iacute;n, nhanh
										ch&oacute;ng v&agrave; lu&ocirc;n đặt quyền lợi của bạn l&ecirc;n h&agrave;ng
										đầu</strong></span></h2>

							<p><a href="https://www.facebook.com/adminshopaccre24hh/" target="_blank"><img
										src="http://bibihehe.vn/upload/userfiles/images/image(7).png" /></a>&nbsp;<a
									href="http://shopacc.com.vn"><img
										src="http://bibihehe.vn/upload/userfiles/images/image(5).png" /></a>&nbsp;&nbsp;
							</p>

							<p><img
									src="http://bibihehe.vn/upload/userfiles/images/sdt.jpg" /><strong>&nbsp;0816.117.222</strong>
							</p>

							<p><img src="http://bibihehe.vn/upload/userfiles/images/time.jpg" />&nbsp;<strong>8h-11h30
									&amp; 13h30-22h</strong></p>
						</div>
					</div>
					<div class="col-md-4">
						<div id="fb-root"></div>
						<script>(function (d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id))
									return;
								js = d.createElement(s);
								js.id = id;
								js.src = "/connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-page" data-href="https://www.facebook.com/adminshopaccre24hh"
							data-tabs="timeline" data-height="270" data-small-header="false"
							data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
							<blockquote cite="https://www.facebook.com/adminshopaccre24hh"
								class="fb-xfbml-parse-ignore"><a
									href="https://www.facebook.com/adminshopaccre24hh">Nick.vn</a></blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c-postfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 c-col">
						<!--<p class="c-copyright c-font-grey">2019 &copy; vận hành bởi <a style="color: #32c5d2 !important" href="http://web.quanplay.vn">Quanplay</a> <span class="c-font-grey-3"> </span>
					</p>-->
					</div>
				</div>
			</div>
		</div>
	</footer><!-- END: LAYOUT/FOOTERS/FOOTER-5 -->
	<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
	<div class="c-layout-go2top">
		<i class="icon-arrow-up"></i>
	</div><!-- END: LAYOUT/FOOTERS/GO2TOP -->
	<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
	<!-- BEGIN: CORE PLUGINS -->
	<!--[if lt IE 9]>
<![endif]-->
	<script src="assets/frontend/theme/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/jquery.easing.min.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/reveal-animate/wow.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/demos/default/js/scripts/reveal-animate/reveal-animate.js"
		type="text/javascript"></script>
	<!-- END: CORE PLUGINS -->
	<!-- BEGIN: LAYOUT PLUGINS -->
	<script src="assets/frontend/theme/assets/global/plugins/magnific/magnific.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/counterup/jquery.counterup.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/counterup/jquery.waypoints.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/smooth-scroll/jquery.smooth-scroll.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/js-cookie/js.cookie.js" type="text/javascript"></script>
	<!-- END: LAYOUT PLUGINS -->
	<!-- BEGIN: THEME SCRIPTS -->
	<script src="assets/frontend/theme/assets/base/js/components.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/base/js/app.js" type="text/javascript"></script>

	<script src="assets/frontend/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			App.init(); // init core
		});
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})


		$(".menu-main-mobile a").click(function () {

			if ($(this).closest("li").hasClass("c-open")) {
				$(this).closest("li").removeClass("c-open");
			}
			else {
				$(this).closest("li").addClass("c-open");
			}
		});

	</script>
	<!-- END: THEME SCRIPTS -->
	<!-- BEGIN: PAGE SCRIPTS -->
	<script src="assets/frontend/theme/assets/plugins/moment.min.js" type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/bootstrap-daterangepicker/daterangepicker.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/theme/assets/demos/default/js/scripts/pages/datepicker.js"
		type="text/javascript"></script>
	<script src="assets/frontend/plugins/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"
		type="text/javascript"></script>

	<script src="assets/frontend/js/common.js" type="text/javascript"></script>
	<!--Start of Tawk.to Script-->
	<!-- <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5bada890181d3a551971fe6a/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
 -->


	<!--End of Tawk.to Script-->
	<!-- END: LAYOUT/BASE/BOTTOM -->


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126686260-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126686260-1');
</script> -->
</body>

</html>